.size {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

::-webkit-scrollbar{
    width: 0;
}