.card{
    height: 75vh;
    width: 75vw;
    background-color: white;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.4);
}
.app{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.divdireita{
    background-color: #E9E9E9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.divesquerda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
    align-items: center;
}

.divesquerda img{
    height: 25vh;
}

.inputs{
    display: flex;
    flex-direction: column;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

@media (max-width: 768px) {
    .card{
        grid-template-columns: 1fr;
        height: auto;
        width: 95vw;
    }

    .divdireita, .divesquerda{
        padding: 4px;
        gap: 0;
    }

    .divesquerda img{
        height: 15vh;
    }

    .divinput{
        width: 90%;
    }
}