.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.card {
    background-color: white;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 1200px;
    margin: 20px;
}

.divdireita, .divesquerda {
    padding: 20px;
}

.divdireita {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    min-height: 60vh;
    width: 85vw;
    padding: 26px;
    box-shadow: 0px 5px rgba(75, 71, 71, 0.4);
    margin-left: 70PX;
}

.divesquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.divesquerda img {
    max-width: 100%;
    height: auto;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10px;
}

.inputP{
    background-color: #ECEFF5;
    height: 35px;
    width: 15vw
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.select{
    border: none;
    border-radius: 3.5px;
    padding: 6px;
    width: 34vw;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

.pessoas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 95px;
}

.terceiroBlocoDireita{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.segundoBlocoEsquerda{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.divsDire{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

@media (max-width: 768px) {
    .divdireita{
        min-font-size: 0;
        margin-left: 30px;
    }
}

@media (max-width: 426px) {
    .divdireita{
        margin-left: 22px;
        height: 80vh;
        width: 63vh;
    }

    .pessoas{
        gap: 0;
    }

    .divsDire{
        display: flex;
        flex-direction: column;
    }
    .nomessssss{
        font-size: 12px;
    }

    .select {
        width: 80vw;
    }

    .terceiroBlocoDireita{
        justify-content: space-between;
    }


}