.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.card {
    background-color: white;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1.7fr 2fr;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.4);
    max-width: 1200px;
    margin: 20px;
}

.divdireita, .divesquerda {
    padding: 20px;
}

.divdireita {
    background-color: #E9E9E9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0px 15px 15px 0px;
}

.divesquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.divesquerda img {
    max-width: 25vw;
    height: auto;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
}

.select {
    border: none;
    border-radius: 3.5px;
    padding: 6px;
    width: 22vw;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .card {
        grid-template-columns: 1fr;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .divdireita, .divesquerda {
        align-items: flex-start;
    }
}

@media (max-width: 426px) {
    .select{
        width: 50vw;
    }
}

.tituloCadastroProfessores {
    font-size: 54px;
    margin: -9px;
    font-weight: bold;
    margin-top: -9px;
}

.btnCadastro {
    width: 49.8vw;
    height: 7vh;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    background-color: #007bff; /* Cor inicial */
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.btnCadastro:hover {
    background-color: #0056b3; /* Cor ao passar o mouse */
}