* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-principal: #8C52FF;
    --branco: #fff;
    --cinza-claro: #F0F0F0;
    --cinza-escuro: #8A8C98;
    --preto: #000;
}

/*SCROOLSBARS========================*/
.holidayList::-webkit-scrollbar {
    width: 10px;
}

.holidayList::-webkit-scrollbar-track {
    background: var(--cinza-claro);
    border-radius: 5px;
}

.holidayList::-webkit-scrollbar-thumb {
    background-color: var(--cor-principal);
    border-radius: 5px;
    border: 2px solid var(--cinza-claro);
}

.holidayList::-webkit-scrollbar-thumb:hover {
    background-color: var(--preto);
}
/*=======================*/

.principal {
    display: flex;
}

.calendario {
    padding: 20px;
    margin-left: 245px;
    background-color: var(--cinza-claro);
}

.calendarContainer {
    background-color: var(--branco);
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px;
    width: 600px;
}

.calendar {
    margin-bottom: 0;
}

.tituloHoliday {
    margin: 15px;
    font-size: 25px;
    color: var(--cinza-escuro);
    margin-left: 0;
}

.holidayListsContainer {
    display: flex;
    justify-content: space-between;
    width: 650px;
}

.holidayList {
    list-style-type: none;
    padding: 0;
    width: 48%;
    height: 200px;
    overflow: auto;
}

.holidayContent {
    display: flex;
    align-items: center;
}

.holidayItem {
    display: flex;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: -3px 7px 8px -2px rgba(0,0,0,0.40);
    width: 100%;
    margin-left: 15px;
    flex-direction: column;
    background: var(--branco);
}

.holidayItemImage {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
}

.holidayImage {
    width: 30px;
    height: 30px;
}

.holiday {
    font-weight: bold;
}

.holidayData {
    color: red;
}

.holidayItemNovo {
    width: 100%;
}


@media(max-width: 1441px) {
    .principal {
        display: initial;
    }
}

@media (max-width: 1025px) {
    .calendario {
        margin-left: 0;
    }
}

@media(max-width: 770px) {
    .holidayListsContainer {
        display: initial;
    }

    .calendarContainer {
        width: 650px;
    }

    .holidayList {
        width: 100%;
    }
}

