@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.dashboardContainer {
    margin-top: 30px;
    height: 100vh;
}
.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 210px;
}

.sliderContainer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.ola {
    font-size: 30px;
    position: relative;
    right: 270px;
    color: #262A41
}

.slide {
    display: flex;
    margin-top: 16px;
    justify-content: center;
    width: 100%;
}

.slideImage {
    max-width: 100%;
    width: 100%;
    height: 280px;
    object-fit: cover;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.qqqq{
    background-color: #D9D9D9;
    min-width: 150px;
    width: 180px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.scrollContainer {
    display: flex;
    height: 122px;
    margin-top: 31px;
    overflow-x: auto;
    width: 94%;
    padding: 10px 0;
    gap: 10px;
}

.scrollContainer::-webkit-scrollbar {
    height: 12px;
}

.scrollContainer::-webkit-scrollbar-track {
    background: #D9D9D9;
}

.scrollContainer::-webkit-scrollbar-thumb {
    background-color: #9364f3;
    border-radius: 20px;
    border: 3px solid #D9D9D9;
    padding: 2px;
}

#cadastrosd{
    color: rgb(102, 105, 124);
    position: relative;
    right: 448px;
    top: 39px;
}

.qazul{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    width: 180px;
    height: 30px;
    color: #fff;
    background-color: #8C52FF;
}
.cadss{
    position: relative;
    top: 55px;
    right: -2px;
    display: flex;
    gap: 91px;
}
#cad{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    width: 180px;
    height: 45px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.qbranco{
    position: relative;
    top: 55px;
    right: -2px;
    display: flex;
    gap: 91px;
    padding: 4px;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #D9D9D9;
}

body::-webkit-scrollbar-thumb {
    background-color: #9364f3;
    border-radius: 20px;
    border: 3px solid #D9D9D9;
    padding: 2px;
}
