@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.dashboardContainer {
    margin-top: 30px;
    height: 100vh;
}
.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 210px;
}

.sliderContainer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.ola {
    font-size: 30px;
    position: relative;
    right: 270px;
    color: #262A41
}


.slide {
    display: flex;
    justify-content: center;
    width: 100%;
}

.slideImage {
    max-width: 100%;
    width: 100%;
    height: 280px;
    object-fit: cover;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.qqqq{
    background-color: #D9D9D9;
    min-width: 150px;
}
.q{
    background-color: #D9D9D9;
    width: 180px;
    height: 100px;
}
.qq{
    background-color: #D9D9D9;
    width: 180px;
    height: 100px;
}
.qqq{
    background-color: #D9D9D9;
    width: 180px;
    height: 100px;
}
.qqqq{
    background-color: #D9D9D9;
    width: 180px;
    height: 100px;
}
.quad{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 50px;
    top: 20px;
    overflow-x: auto;
    width: 90%;
    align-items: center;
    margin-left: 0;
}
#cadastrosd{
    position: relative;
    top: 60px;
    color: #66697C;
    right: 430px;
}
.professores{
    font-family: "Poppins", sans-serif;
    border-radius: 8px;
    width: 180px;
    height: 30px;
    color: #fff;
    text-align: center;
    background-color: #8C52FF;
}
.alunos{
    font-family: "Poppins", sans-serif;
    border-radius: 8px;
    width: 180px;
    height: 30px;
    color: #fff;
    text-align: center;
    background-color: #8C52FF;
}
.cursos{
    font-family: "Poppins", sans-serif;
    border-radius: 8px;
    width: 180px;
    height: 30px;
    color: #fff;
    text-align: center;
    background-color: #8C52FF;
}
.salas{
    font-family: "Poppins", sans-serif;
    border-radius: 8px;
    width: 180px;
    height: 30px;
    color: #fff;
    text-align: center;
    background-color: #8C52FF;
}
.cadss{
    position: relative;
    top: 70px;
    right: 50px;
    display: flex;
    gap: 50px;
}
#cad1{
    font-family: "Poppins", sans-serif;
    text-align: center;
    border-radius: 8px;
    width: 180px;
    height: 45px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#cad2{
    font-family: "Poppins", sans-serif;
    border-radius: 8px;
    text-align: center;
    width: 180px;
    height: 45px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#cad3{
    font-family: "Poppins", sans-serif;
    border-radius: 8px;
    text-align: center;
    width: 180px;
    height: 45px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#cad4{
    font-family: "Poppins", sans-serif;
    border-radius: 8px;
    text-align: center;
    width: 180px;
    height: 45px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.qbranco{
    position: relative;
    top: 70px;
    right: 50px;
    display: flex;
    gap: 50px;
    padding: 4px;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #D9D9D9;
}

body::-webkit-scrollbar-thumb {
    background-color: #9364f3;
    border-radius: 20px;
    border: 3px solid #D9D9D9;
    padding: 2px;
}