* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-principal: #8C52FF;
    --branco: #fff;
    --cinza-claro: #F0F0F0;
    --cinza-escuro: #8A8C98;
    --preto: #000;
}

/* SCROLLSBARS========================== */
.principal::-webkit-scrollbar {
    width: 10px;
}

.principal::-webkit-scrollbar-thumb {
    border: 10px solid var(--cinza-claro);
}

.prograList::-webkit-scrollbar {
    width: 10px;
}

.prograList::-webkit-scrollbar-track {
    background: var(--cinza-claro);
    border-radius: 5px;
}

.prograList::-webkit-scrollbar-thumb {
    background-color: var(--cor-principal);
    border-radius: 5px;
    border: 3px solid var(--cinza-claro);
}

.prograList::-webkit-scrollbar-thumb:hover {
    background-color: var(--preto);
}
/*========================*/

.principal {
    background-color: #fff;
    position: fixed;
    padding: 15px;
    top: 0;
    right: 0;
    z-index: 1;
    transition: all 0.5s;
    box-shadow: -3px 7px 8px -2px rgba(0,0,0,0.40);
}

.logoNav {
    display: flex;
    height: 100vh;
}

.principalPerfil {
    height: 100vh;
    right: 0;
    position: fixed;
    background: #fff;
    top: 0;
    padding: 15px;
    box-shadow: -3px 7px 8px -2px rgba(0,0,0,0.40);
    transition: all 0.5s;
    width: 250px;
    z-index: 99;
}


.perfil {
    text-align: center;
    margin-bottom: 20px;
}

.perfilNome {
    font-size: 23px;
    font-weight: bold;
}

.cardCriar {
    background-color: var(--cor-principal);
    border-radius: 15px;
}

.card {
    padding: 11px;
    margin-top: -8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.cardBotao {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    width: 100%;
    border: none;
    background-color: var(--cor-principal);
    box-shadow: -3px 7px 8px -2px rgba(0,0,0,0.60);
    border-radius: 5px;
    color: var(--branco);
    font-weight: bold;
    font-size: 15px;
}

.botao {
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    border: none;
    background-color: var(--cor-principal);
    border-radius: 15px;
    width: 250px;
    justify-content: center;
    color: var(--branco);
    font-size: 20px;
    font-weight: bold;
}

.botaoImg {
    color: var(--cor-principal);
    border-radius: 40px;
    width: 25px;
    height: 25px;
    box-shadow: -3px 7px 8px -2px rgba(0,0,0,0.60);
}

.botaoImgLogo {
    border: none;
    background: none;
    cursor: pointer;
}

.botaoImgVoltar {
    border: none;
    background: none;
    cursor: pointer;
    margin-bottom: 20px;
}

.imgLogo {
    width: 30px;
    height: auto;
}

.imgVoltar {
    width: 25px;
    height: 25px;
}

.imgPerfill {
    width: 150px;
    height: 150px;
    border-radius: 70px;
}

/*PROGRAMA*/

.tituloProgra {
    font-size: 25px;
    margin-left: 5px;
    color: var(--cinza-escuro);
    align-items: center;
}

.prograList {
    margin-top: 15px;
    height: 190px;
    overflow: auto;
}

.prograDiv {
    display: flex;
    width: 240px;
}

.prograItemImage {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    /*border-radius: 10px;*/
    /*box-shadow: -3px 7px 8px -2px rgba(0,0,0,0.30);*/
    /*margin-left: 5px;*/
}

.prograItem {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: -3px 7px 8px -2px rgba(0,0,0,0.30);
    width: 100%;
    margin-left: 15px;
    color: var(--preto);
}

.prograTextoDiv {
    display: flex;
    justify-content: space-between;
}

.prograTextT {
    font-weight: bold;
}

.prograTextC {
    color: var(--cinza-escuro);
}

.prograTextS {
    color: var(--cor-principal);
}

.prograTextH {
    color: var(--cor-principal);
    font-size: 20px;
    font-weight: bold;
}

@media(max-width: 1441px) {
    .prograList {
        height: 300px;
    }
}

@media(max-width: 1300px) {
    .prograList {
        height: 190px;
    }
}

@media(max-width: 1026px) {
    .prograList {
        height: 245px;
    }
}

@media(max-width: 770px) {
    .prograList {
        height: 135px;
    }
}
@media (max-width: 480px){
    .principal{
      display: none;
    }
    .imgLogo {
         margin-top: 90px;
         width: 30px;
         height: auto;
     }
    .principalPerfil{
        display: none;
    }
}
@media(max-width: 426px) {
    .prograList {
        height: 135px;
    }

    .imgPerfill{
        width: 130px;
        height: 130px;
    }

    .principalPerfil{
        padding: 10px;
    }
    .principal{
        display: none;
    }
}
@media(max-width: 320px) {
    .logoNav{
        align-items: center;
        justify-content: center;
    }
    .imgLogo{
        margin-top: 0;
        position: relative;
        right: 8px;
    }
}