.titulo{
    font-size: 54px;
    margin: 4px;
    font-weight: bold;
    margin-top: -9px;
    color: #8C52FF
}

@media (max-width: 768px) {
    .titulo{
        margin-top: 0px;
        display: flex;
        align-items: center;
        font-size: 39px;
    }
}