.titulo{
    font-size: 60px;
    margin: -30px;
    font-weight: bold;
    margin-top: -50px;
}

.titulo2{
    font-size: 70px;
    margin: 0px;
    color: #8C52FF;
    font-weight: bold;
}

@media (max-width: 768px) {
    .titulo{
        font-size: 50px;
        margin-top: 5px;
    }
    .titulo2{
        font-size: 60px;
    }
}