@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');
*{
  font-family: "Yantramanav", sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*============== ESTILIZAÇÂO CALENDARIO ===================*/
.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child),
.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child),
.fc-direction-ltr .fc-toolbar > * > :not(:first-child){
  background-color: #8C52FF;
  border: none;
  box-shadow: -3px 7px 8px -4px rgba(0,0,0,0.80);
  margin-left: 5px;
}

.fc .fc-daygrid-day-frame:hover {
  background-color: #F0F0F0;
  cursor: pointer;
}

.fc-day-sun .fc-daygrid-day-number,
.fc-day-sat .fc-daygrid-day-number {
  color: #FF0000;
}

.fc-day-today {
  background-color: rgba(199, 171, 236, 0.75) !important; /* roxo mais claro */
}

.fc .fc-daygrid-day-number {
  color: #000;
}

.fc .fc-view-harness {
  position: sticky;
}

/*=================================*/


